---
layout: default
title: Luis Ashurei's personal website
description: Luis Ashurei's personal website at GitHub Page
keywords: Luis Ashurei, GitHub, Blog
index: true
---

<h3>Latest Post</h3>

{% for post in site.posts %}
　{% if post.index %}
  　<p itemscope itemtype="http://schema.org/BlogPosting">
      <time datetime="{{ post.date | date: "%Y-%m-%-d" }}" itemprop="datePublished">{{ post.date | date_to_string }}</time> <a href="{{ post.url }}" itemprop="url"><span itemprop="name">{{ post.title }}</span></a>
  　</p>
　{% endif %}
{% endfor %}
