<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    {% unless page.index %}
      <meta name="robots" content="noindex, nofollow">
    {% endunless %}
    <title>{{ page.title }}</title>
    {% if page.description != '' %}
      <meta name="description" content="{{ page.description | escape }}" />
    {% endif %}
    {% if page.keywords != '' %}
      <meta name="keywords" content="{{ page.keywords | escape }}" />
    {% endif %}
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="/"><h1>Luis Ashurei</h1></a>
        <p>IT Tech, Love Life</p>
        <p class="view">
          <a href="https://github.com/atealxt">GitHub</a> |
          <a href="https://twitter.com/atealxt">Twitter</a> |
          <a href="http://atealxt.appspot.com/">GAE</a> |
          atealxt at gmail.com
        </p>
        <p id="navTree"></p>
      </header>
      <section>
        {% if page.date %}
          <p>{{ page.date | date_to_string }}</p>
        {% endif %}
        {{ content }}
      </section>
      <footer>
        <p><small>Hosted on GitHub Pages</small></p>
      </footer>
    </div>
    <script src="/javascripts/scale.fix.js"></script>
    <script type="text/javascript">
    (function (win) {
    	if (win.innerWidth <= 480) {
    		return;
    	}
    	var links = document.getElementsByClassName("anchor"), html = "";
    	if (links.length <= 1) {
    		return;
    	}
    	html += "<ul>";
        for (var i = 0; i < links.length; i++) {
        	html += "<li><a href='" + links[i].getAttribute("href") + "'>" + links[i].nextSibling.textContent + "</a></li>";
        }
        html += "</ul>";
        document.getElementById("asd").innerHTML = html;
    
    })(window);
    </script>
    
  </body>
</html>
